{% extends 'main.html' %} {% block content %} {% comment %}
これで別のファイルが呼び込める {% endcomment %}
<h1>Projects templates</h1>

<p>you are on the {{ msg }} page.</p>
{{ num }}
<hr />
{% if num > 101 %} over 101 {% else %} under 100 {% endif %}

<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
</p>

<h2>Projects</h2>
<ul>
    {% for project in projects %}
    <li>Title: <a href="{% url 'project' project.id %}">{{project.title}}</a> --- description:{{project.description}}</li>

    {% endfor %}
</ul>
{% endblock content %}
