{% extends 'main.html' %} {% block content %} {% comment %}
これで別のファイルが呼び込める {% endcomment %}
<h1>Projects templates</h1>

<p>you are on the {{ msg }} page.</p>
{{ num }}
<hr />
{% if num > 101 %} over 101 {% else %} under 100 {% endif %}


<h2>Projects</h2>
<table>
    <tr>

        <th>Project</th>
        <th>Positive Votes</th>
        <th>Votes</th>
        <th>time</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>link</th>
    </tr>
    {% for project in projects %}
    <tr>

        <td>{{project.title}}</td>
        <td>{{project.vote_ratio}}</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.created}}</td>
        <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
        <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
        <td><a href="{% url 'project' project.id%}">View</a></td>
    </tr>
    {% endfor %}
</table>
<ul>
    {% comment %} {% for project in projects %}
    <li>Title: <a href="{% url 'project' project.id %}">{{project.title}}</a> --- description:{{project.description}}</li>

    {% endfor %} {% endcomment %}
</ul>
{% endblock content %}
